appdirs
decorator
llvmlite
mako
markupsafe
msgpack
netifaces
numba
numpy==1.17.3
pandas
pycuda==2019.1.2
pygelf
python-dateutil
pytools
pytz
redis
scikit-cuda==0.5.3
scipy
typing_extensions==3.7.4.1

katsdpservices @ git+https://github.com/ska-sa/katsdpservices
katsdpsigproc @ git+https://github.com/ska-sa/katsdpsigproc
katsdptelstate @ git+https://github.com/ska-sa/katsdptelstate
