-c https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-build/base-requirements.txt
-c https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-gpu-build/requirements.txt

numpy
scikit-cuda
typing_extensions

aiokatcp
katsdpservices @ git+https://github.com/ska-sa/katsdpservices
katsdpsigproc[CUDA] @ git+https://github.com/ska-sa/katsdpsigproc
katsdptelstate @ git+https://github.com/ska-sa/katsdptelstate
