**/*.egg-info
**/*.eggs
**/*.o
**/*.so
**/.venv
**/.vscode/
**/.mypy_cache
**/build
**/__pycache__
**/doc/_build
htmlcov/
scratch/fgpu/dsim
scratch/fgpu/memcpy_loop
scratch/xbgpu/fsim
Dockerfile
.dockerignore
