[flake8]
max-line-length = 120
exclude = .venv

# configure the maximum complexity to allow
# 15 is recommended for more complex modules
max-complexity = 15

# specify errors/checks to ignore
# this list is tailored to work well with the black formatter
ignore =
	# 'whitespace before :' error
	E203,
	# 'line break before binary operator' error
	W503

# specify which checks to enable
select =
	# complexity checks
	C,
	# pep8 errors
	E,
	# pyflakes fatals
	F,
	# pep8 warnings
	W,
	# bugbear checks for design issues (requires flake8-bugbear)
	B,
	# pep8 naming (requires pep8-naming)
	N
