[flake8]
max-line-length = 120
exclude = .venv

# configure the maximum complexity to allow
# 15 is recommended for more complex modules
max-complexity = 15

# specify errors/checks to ignore
# this list is tailored to work well with the black formatter
ignore =
	E203, # 'whitespace before :' error
	W503  # 'line break before binary operator' error

# specify which checks to enable
select =
	C, # complexity checks
	E, # pep8 errors
	F, # pyflakes fatals
	W, # pep8 warnings
	B, # bugbear checks for design issues (requires flake8-bugbear)
	N  # pep8 naming (requires pep8-naming)
