-c https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-build/base-requirements.txt
-c https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-gpu-build/requirements.txt

aiokatcp
katsdpservices
katsdpsigproc[CUDA]
numpy
pycuda
scikit-cuda
spead2

katsdptelstate @ git+https://github.com/ska-sa/katsdptelstate
