aiohttp
aiokatcp>=1.1.0
dask
katsdpservices[aiomonitor]>=1.2
katsdpsigproc[CUDA]>=1.4.2
katsdptelstate
numpy
prometheus-async
pycuda
pyparsing>=3.0.0
spead2>=3.9.1
vkgdr @ git+ssh://git@github.com/ska-sa/vkgdr
xarray
