-r ../requirements-dev.txt
aiokatcp
async-timeout
dask
docutils
katsdpservices
katsdpsigproc
matplotlib
numpy
prometheus-api-client
prometheus-async
prometheus-client
pylatex
pytest
pytest-check
pytest-reportlog
spead2>=3.11.0
xarray
