# Versions of numpy and pycuda are chosen to work with python 3.6. Later versions require python 3.7 at a minimum 

# As of 09/03/2021, a custom built SPEAD2 module (katxgpu._katxgpu.recv) is being used for receiving data while the SPEAD2 python package is being used in all other instances.

llvmlite==0.31.0
numpy==1.19.5
pycuda==2019.1.2
pybind11
spead2
katsdpsigproc[CUDA] @ git+https://github.com/ska-sa/katsdpsigproc
